* {
    margin: 0;
    padding: 0;
}

.mini-navbar {
    background-color: green;
    height: 30px;
    line-height: 30px;
}

.navbar {
    background: rgb(59, 146, 59);
}

.fa-search {
    color: rgb(200, 199, 199);
}

.fa-search:hover {
    color: rgb(255, 255, 255);
}

.hop {
    background-color: lightgrey;
    padding: 15px
}

.boder {
    border: 1px solid black;
    margin-top: 50px;
    background-color: white;
}

.nut {
    margin-top: 50px;
    margin-bottom: 20px;

}

.nut button {
    border: 0;
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.box2 {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

.mb-2 {
    color: black;
}

.mb-0 {
    color: black;
}
.app{
    display: flex;
    justify-self: center;
    
}
.app input{
    height: 30px;
    margin-bottom: 20px;
}
.app button{
    height: 30px;
    margin-bottom: 20px;
}


.box button {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: white;

}


.box button:nth-child(4) {
    background-color: lightgreen;
    border: 0px;
}

.icon span {
    float: left;
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #999;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 20px;

}
.box-footer p{
    line-height: 15px;
}
.box-footer hr{
    padding: 5px ;

}
.icon-new{
    display: flex;
    padding-top: 10px;
}
.icon{
    display: flex;
    background-color: rgb(253, 253, 253);
    margin-right: 10px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.end-footer{
    height: auto;
    background-color: rgb(243, 241, 241);
    line-height: 50px;

}